@keyframes bouncing {
    0% {transform: scale(1, 1)}
    30% {transform: scale(1.2, .8)}
    75% {transform: scale(.8, 1.3)}
    100% {transform: scale(1, 1)}
}
@keyframes zooming {
    0% {transform: scale(1, 1)}
    50% {transform: scale(1.2)}
    100% {transform: scale(1, 1)}
}

@keyframes rotate {
    0% {transform: scale(1); }
    25% {transform: scale(1.3) rotate(20deg);}
    75% {transform: scale(1.3) rotate(-5deg);}
    100% {transform: scale(1) rotate(0deg);}
}

@keyframes zooming-btn-up {
    0% {transform: scale(.3)}
    100% {transform: scale(1)}
}
@keyframes zooming-btn-down {
    0% {transform: scale(1)}
    100% {transform: scale(.4)}
}

@keyframes moveDown {
    0%{
        opacity: 0;
        transform: translateY(-25rem);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes moveDownRev {
    0%{
        opacity: 1;
        transform: translateY(0);
    }

    100%{
        opacity: 0;
        transform: translateY(25rem);
    }
}
@keyframes moveUp {
    0%{
        opacity: 0;
        transform: translateY(25rem);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveSx {
    0%{
        opacity: 0;
        transform: translateX(25rem);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveDx {
    0%{
        opacity: 0;
        transform: translateX(-25rem);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

// animation classes
.moveUp{
    animation: moveUp .8s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}

.moveDown{
    animation: moveDown .8s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}

.moveDx{
    animation: moveDx .8s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}

.moveSx{
    animation: moveSx .8s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}

.xs-delay{
    animation-delay: .3s;
}

.s-delay{
    animation-delay: .5s;
}

.m-delay{
    animation-delay: 1s;
}

.l-delay{
    animation-delay: 1.5s;
}

.xl-delay{
    animation-delay: 2.3s;
}

.bounce:hover{
    animation: bouncing 0.4s ;
}

.rotate:hover{ 
    animation: rotate 0.4s ;
}

.zooming:hover{
    animation: zooming 0.2s ;
    color: var(--color-white);
    background-color: black;
}

.zooming-btn-up{
    animation: zooming-btn-up 0.35s ;
}

.zooming-btn-down{
    animation: zooming-btn-down 0.2s ;
}