
.main-title{
    &__size{
        font-size: 8vw;
        
    }
    
    &__size__big{
        font-size: 13vw;
    }
}


.contact-me{
    &__size{
        font-size: 6rem;
    }
}

.zoom-letter{
    display: flex;
    flex-direction: row;
    display: inline-block;
    
    &__letter {
        display: inline-block;
        
    }
    
}

//class effects

.bounce:hover{
    animation: bouncing 0.4s ;
}

.rotate:hover{ 
    animation: rotate 0.4s ;
}

.small-delay-1{
    animation-delay: .5s;
}

.big-delay{
    animation-delay: 1s;
}