//byn language
.btn{
    font-size: .5em;
    align-self: flex-end;
    border-radius: 2.3rem;
    cursor: pointer;
    transition: all .2s;
    padding: 0.3rem 2rem ;
    border-radius: 100px;
    background-color: var(--color-5);

    position: absolute;

    &__text{
      align-self: center;
      
    }
    &__img{
      align-self:center;
      width: 3rem;
      height: 3rem;
      margin: 1rem;
    }

    &__link{
      text-decoration: none;
      color: #ffffff;
      display: flex;
    }
    
    &:hover {
      transition: all .2s;
      transform: translateY(-0.4rem);

    }
   
    
}


//new button
.btn-toggle{
    align-self: center;
    justify-self: center;
    cursor: pointer;
}

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  &.button-container {
    width: 38rem;
    height: auto;

    .btn_toggle_icon{
      position: relative;
      top: -7.1rem;
      left: -15rem;
      color: var(--color-43);
      width: 6.3rem;
      height: 6.3rem;
    }
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: relative;
      display: block;
      margin: 0;
      width: 8rem;
      height: 8rem;
      background: var(--color-42);
      border-radius: 10rem;
      
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        bottom: 0;
        left: 7rem;
        margin: auto;

      }
    }
    .button-container {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: absolute;
      top: .8rem;
      left: 3rem;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: var(--color-42);
      line-height: 1.6;
      text-align: center;
      font-size: 3rem;
    }
  }
  &:hover {
    .circle {
      width: 100%;
    }
    .button-container {
      color: var(--color-43);
    }
  }
}


//button download
.btn_download{
  display: flex;
  justify-content: center;
  
  
  &__icon{
    width: 6.5rem;
    height: 6.5rem;
  }
  
  &__span{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-8);
    color: var(--color-3);
    border-radius: 100px;
    padding: 1rem;

      p{
         margin:0 2rem;
      }

      &:hover{
        background-color: var(--color-2);
      }
  }
}

//button back

.btn_back{
  position: fixed;
  z-index: 10;
  bottom: 3rem;
  right: 3rem;
  display: flex;
  justify-content: center;
  transition: all .5s;
  display: none;

  
  &__icon{
    width: 6.5rem;
    height: 6.5rem;
  }
  
  &__span{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--color-42);
    color: var(--color-43);
    border-radius: 100px;
    padding: .7rem;
    box-shadow:0 1rem 1.6rem .8rem #38383850;
    }

    &:hover{
      transform: translateY(-0.65rem);
      &::after{
      content: "back to top";
      color: white;
       font-size: 2.8rem;
       height: 2rem;
       width: 18rem;
       position: absolute;
       top: -5rem;
       left: -5rem;
      }
    }
}