//non usato
.btn{
    font-size: .5em;
    align-self: flex-end;
    border-radius: 2.3rem;
    cursor: pointer;
    transition: all .2s;
    padding: 0.3rem 2rem ;
    border-radius: 2.3rem;
    background-color: var(--color-42);

    position: absolute;

    &__text{
      align-self: center;
      
    }
    &__img{
      align-self:center;
      width: 3rem;
      height: 3rem;
      margin: 1rem;
    }

    &__link{
      text-decoration: none;
      color: var(--color-43);
      display: flex;
    }
    
    &:hover {
      transition: all .2s;
      transform: translateY(-0.4rem);

    }
   
    
}


//new button
.btn-toggle{
    align-self: center;
    justify-self: center;
    cursor: pointer;
}

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  &.button-text {
    width: 38rem;
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: relative;
      display: block;
      margin: 0;
      width: 8rem;
      height: 8rem;
      background: var(--color-42);
      border-radius: 10rem;
      
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        bottom: 0;
        left: 7rem;
        margin: auto;

        &.arrow {
          //corpo freccia
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          left: 1.8rem;
          top: .2rem;
          width: 2.8rem;
          height: .3rem;
          background: none;
          //lati freccia
          &::before {
            position: absolute;
            content: '';
            top: -0.6rem;
            right: 0.1rem;
            width: 1rem;
            height: 1rem;
            border-top: 0.4rem solid var(--color-43);
            border-right: 0.4rem solid var(--color-43);
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: absolute;
      top: .8rem;
      left: 0rem;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: var(--color-42);
      line-height: 1.6;
      text-align: center;
      font-size: 3rem;
    }
  }
  &:hover {
    .circle {
      width: 100%;
      
      .icon {
        &.arrow {
        background: var(--color-43);
        transform: translate(3rem, 0);
        }
      }
    }
    .button-text {
      color: var(--color-43);
    }
  }
}

