

.btn-toggle{
    background-color: var(--color-2);
    color: var(--color-1);
    align-self: center;
    width: 40rem;
    border-radius: 4.5rem;
    padding: 3.5rem 5.5rem;
    box-shadow: 0 1rem 3rem rgba(black,.2);
    
    cursor: pointer;
    transition: all .2s;
    
    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 2rem 4rem rgba(black,.2);
    }
    &:active,
    &:focus {
        outline: none;
        transform: translateY(0.3rem);
        box-shadow: 0 1rem 2rem rgba(black,0);
    }
}