$color-white:#ffffff;
$color-black:black;


/*
color 1 head background
color 2 middle abckground
color 3 footer background
color 4 title 
color 42 button back
color 43 button text
color 5 section background
color 6 section title
color 62 section span back
color 7 section text
color 8 footer text
color 9 scrollbar

*/
//main
.theme-1{
    --color-1: #0c3139;
    --color-2: #f5f5f5;
    --color-3: #35283c;
    
    --color-4: #b6ff9b;
    --color-42: #86dd67;
    --color-43: #ffffff;

    --color-5: #2e2e3a;
    --color-62: #ffa9ab;
    --color-6: #3e1921;
    --color-7: #72e5ce;

    --color-8: #fec2eb;
    --color-9: #72e5ce;
}

//RED
.theme-2{
    --color-1: #3e1921;
    --color-2: #963636;
    --color-3: #F37970;

    --color-4: #eb3c3f;
    --color-43: #EA101C;
    --color-42: #ffb44c;

    --color-5: #c8deff;
    --color-6: #1ed760;
    --color-62:#4efa57;
    --color-7: #eb3c3f;

    --color-8: #AE0900;
    --color-9: #4efa57;
}


.theme-3{
    --color-1: #715379;
    --color-2: #ffffff;
    --color-3: #21B6A8;

    --color-4: #9eefe2;
    --color-42: #4c9183;
    --color-43: rgb(106, 250, 137);
    --color-5:  #4c9183;

    --color-6: #72e5ce;
    --color-62: #715379;
    --color-7: #ffffff;

    --color-8: #ffffff;
    --color-9: #72e5ce;
}



//OUT
.theme-4{
    --color-1: #04B16F;
    --color-2: #A3EBB1;
    --color-3: #21B6A8;

    --color-4: #775cf0;
    --color-42: rgb(133, 231, 207);
    --color-43: rgb(253, 251, 107);
    --color-5: #ffffff;

    --color-6: #ffffff;
    --color-62: rgb(78, 250, 87);
    --color-7: purple;

    --color-8: #ffffff;
    --color-9: orange;
}


