$color-white:#ffffff;
$color-black:black;


/*
color 1 head background
color 2 middle abckground
color 3 footer background
color 4 title 
color 42 button back
color 43 button text
color 5 section background
color 6 section title
color 62 section span back
color 7 section text
color 8 footer text
color 9 scrollbar

*/
//main
.theme-1{
    --color-1: #0c3139;
    --color-2: #f5f5f5;
    --color-3: #35283c;
    
    --color-4: #b6ff9b;
    --color-42: #1ed760;
    --color-43: #ffffff;

    --color-5: #2e2e3a;
    --color-6: #3e1921;
    --color-62: #ffa9ab;
    --color-7: #72e5ce;
    --color-6: #119941;
    --color-62:#4efa57;

    --color-8: #fec2eb;
    --color-9: #72e5ce;
}

//RED
.theme-2{
    --color-1: #3e1921;
    --color-2: #963636;
    --color-3: #F37970;

    --color-4: #eb3c3f;
    --color-43: #EA101C;
    --color-42: #ffb44c;

    --color-5: #fc6161;
    --color-62: #3e1921;
    --color-6: #ffa9ab;
    --color-7: #ffd768;

    --color-8: #AE0900;
    --color-9: #4efa57;
}


.theme-3{
    --color-1: #13223a;
    --color-2: #d0fcff;
    --color-3: #2198b6;

    --color-4: #589afc;
    --color-42: #506aff;
    --color-43: #172efd;
    --color-43: #ffffff;

    --color-5:  #193966;
    --color-6: #2c4ba0;
    --color-62: #43aae6;
    --color-7: #dbcdff;

    --color-8: #ffffff;
    --color-9: #11ffcf;
}

/*
#13223a
#0170ff
#12213a
#ffa8ab
*/
