

.theme-1{
    --color-1: #A16AE8;
    --color-2: #B4FEE7;
    --color-3: #FD49A0;
}

.theme-2{
    --color-1: #341948;
    --color-2: #9388A2;
    --color-3: #170B3B;
}

.theme-3{
    --color-1: #04B16F;
    --color-2: #A3EBB1;
    --color-3: #21B6A8;
}

.theme-4{
    --color-1: #FF671B;
    --color-2: #900300;
    --color-3: #CC5216;
}

.theme-5{
    --color-1: #0067B3;
    --color-2: #40B0DF;
    --color-3: #FFD53D;
}
