.foo-card{
    padding: .5rem 0;
    
    
    // cool links
    .cool-link {
        display: inline-block;
        
        text-decoration: none;
    }
    
    .cool-link::after {
        content: '';
        display: block;
        width: 0;
        height: .4rem;
        background: var(--color-2);
        transition: width .3s;
    }
    
    .cool-link:hover::after {
        width: 100%;
        
    }
    
    .copy2021{
        font-size: 1.4vh;
        color: var(--color-2);
    }
}

.contact-me{
    
    span {
        transform: rotate(50deg) ;
        font-size: 8vw;
        
        &:hover{ 
           color: var(--color-1);
    
       }
    }

    
}

span {
    width: auto;
    height: auto;
    background-color: burlywood;
    transform: rotate(45deg) ;
   
    
    &:hover{ 
       color: var(--color-1);

   }
}