.foo-card{
    padding: .5rem 0;
    
    
    // cool links
    .cool-link {
        display: inline-block;
        
        text-decoration: none;
    }
    
    .cool-link::after {
        content: '';
        display: block;
        width: 0;
        height: .5rem;
        background: var(--color-2);
        transition: width .3s;
    }
    
    .cool-link:hover::after {
        width: 100%;
        
    }
    
    .copy2021{
        font-size: 1.8vh;
        color: var(--color-2);
    }
}

