//media queries for font size
//BIG SCREEN

@media only screen and (min-width: 1250px) {
    *  {
        font-size: .4vw;
        
        .normal-size{
            font-size: 3rem;
        }
        
        
    }
    .main-title{

        h1{
            font-size: 11vw;
        }
        h2 {
            font-size: 5vw;
        }
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1250px)  {
    *  {
        font-size: .9vw;
        
        .normal-size{
            font-size: 3rem;
        }
        
        
    }
    .main-title{

        h1{
            font-size: 11vw;
        }
        h2 {
            font-size: 5vw;
        }
    }
}

@media only screen and (min-width: 750px) and (max-width: 950px) {
    *  {
        font-size: .9vw;
        
        .normal-size{
            font-size: 3rem;
        }
    }
}

//MOBILE SCREEN
@media only screen and (min-width: 450px)  and (max-width: 750px) {
    * {
        font-size: .9vw;
        
        .normal-size{
            font-size: 3rem;
        }
    }
}
//VERY SMALL SCREEN
@media only screen and (max-width: 450px) {
    * {
        font-size: 2vw;
        
        .normal-size{
            font-size: 3.5vw;
        }

        .main-title{

            h1{
                font-size: 20vw;
            }
            h2 {
                font-size: 10vw;
            }
        }
    }
}
