//media queries for font size
//BIG SCREEN

@media only screen and (min-width: 1250px) {
    *  {
        font-size: .4vw;
        
        .normal-size{
            font-size: 1.5vw;
        }
        .big-size{
            font-size: 3.5vw;
        }

        //.middle-container{
           
        //}
        
        
    }
    .main-title{

        h1{
            font-size: 11vw;
        }
        h2 {
            font-size: 5vw;
        }
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1250px)  {
    *  {
        font-size: .7vw;
        
        .normal-size{
            font-size: 2vw;
        }
        
        .section-card{

            text-align: center;
            &__title{
                font-size: 4.5vw;
                padding: 3vh 0;
            }
        }
        
    }
    .main-title{

        h1{
            font-size: 11vw;
        }
        h2 {
            font-size: 5vw;
        }
    }
}

@media only screen and (min-width: 750px) and (max-width: 999px) {
    *  {
        font-size: .9vw;
        
        .normal-size{
            font-size: 3vw;
        }
        .middle-container{
            display: flex;
        }


        .section-card{

            text-align: center;
            &__title{
                font-size: 5vh;
                padding: 3vh 0;
            }
        }
    }
}

//MOBILE SCREEN
@media only screen and (min-width: 450px)  and (max-width: 750px) {
    * {
        font-size: 1.3vw;
        
        .normal-size{
            font-size: 3vw;
        }
        .middle-container{
            display: flex;
        }

        .section-card{

            text-align: center;
            &__title{
                font-size: 10vw;
                padding: 3vh 0;
            }
        }
    }
}
//VERY SMALL SCREEN
@media only screen and (max-width: 450px) {
    * {
        font-size: 2vw;
        
        .normal-size{
            font-size: 4vw;
        }

        .line-height{
            line-height: 3rem;
        }

        .scrollbar{
            opacity: 0;
        }
        
        .main-title{

            h1{
                font-size: 20vw;
            }
            h2 {
                font-size: 10vw;
            }
        }

        .middle-container{
            display: flex;
        }

        .section-card{

            text-align: center;
            &__title{
                font-size: 12vw;
                padding: 3vh 0;
            }
        }
    }
}
