
.photo{
    align-self: center;

    &__shape {
        width: 26rem;
        height: 26rem;      
        
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        border: var(--color-2) .75rem solid;
        
    }
    
    &__img {
        height: 100%;
        transform: translateX(2.6rem) translateY(0.4rem) scale(1.5);
        backface-visibility: hidden;
        transition: all .4s;
        
    }


    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        font-size: 3rem;
        text-align: center;
        opacity: 0;
        transition: all .4s;
        backface-visibility: hidden;
    }

    

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        transform: translateX(2.6rem) scale(1.45);
        filter: blur(2px) brightness(80%);
    }

    
}
