//SCROLLBARR------------------------------

#scrollbar-wrapper {
    position: fixed;
    top: 0;
    z-index: 50;
    right: 0;
    width: .5rem;
    left: auto;
    bottom: 0;
    background-color: transparent;
    opacity: 1;
}

.scrollbar {
    position: absolute;
    top: 0;
    background-color: var(--color-4);
    right: 0;
    width: .5rem;
    height: 100vh;
    transform: translateY(100vh);
}


::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}