
.section-card{
    background: var(--color-5);
    color: var(--color-7);
    padding: 10rem;
    margin: 5rem 0;
    box-shadow: 0px 10px 20px 0px rgba(51, 16, 16, 0.2);
    
    &__title{
        padding: 0;
        align-self: center;
    }

    &__span{
        padding: .7rem 1.5rem;
        background-color: var(--color-62);
        color: var(--color-6);
    }
}

#section-card-center{
    display: block;
}