
.main-title{
    &__size{
        font-size: 8vw;
        
    }
    
    &__size__big{
        font-size: 13vw;
    }
}


.contact-me{
    &__size{
        font-size: 7rem;
    }
}

.zoom-letter{
    display: flex;
    flex-direction: row;
    display: inline-block;
    
    &__letter {
        display: inline-block;
        
    }
    
    
}

