// UTILITY CALSSES--------------------------

.normal-size{
    font-size: 2.5rem;
}
.big-size{
    font-size: 3.5rem;
}

.big-divider{
    content: "";
    height: 10rem;
}
.small-divider{
    content: "";
    height: 5rem;
}

.line-height{
    line-height: 7rem;
}

.align-center{
    text-align: center;
}

.uppercase{
    text-transform: uppercase;
    display: block;
}

.font-inherit{
    font-size: inherit;
}

.row-reverse{
    order: 2;
}


.opacity{
    opacity: 0;
    animation: moveDownRev 1s;
    
}

.no-opacity{
    opacity: 1;
    animation: moveUp 1s;
}
