// UTILITY CALSSES--------------------------

.normal-size{
    font-size: 2.5rem;
}
.big-size{
    font-size: 3.5rem;
}

.big-divider{
    content: "";
    height: 10rem;
}
.small-divider{
    content: "";
    height: 5rem;
}
.line-divider{
    background-color: var(--color-2);
    margin: 2.5vh 0;
    width: 100%;
    height: .5vh;
}

.line-height{
    line-height: 7rem;
}

.align-center{
    text-align: center;
}

.uppercase{
    text-transform: uppercase;
    display: block;
}

.font-inherit{
    font-size: inherit;
}

.row-reverse{
    order: 2;
}


.opacity{
    opacity: 0;
    animation: moveDownRev 1s;
    
}

.no-opacity{
    opacity: 1;
    animation: moveUp 1s;
}

//title
.highlight{
    background-color: var(--color-4);
    color: var(--color-1);
    padding: 0 1.5vw;
}

//section title
.highlight-2{
    background-color: var(--color-62);
    color: var(--color-6);
    padding: 0 2vh;
    display: inline;
}
