.theme-1 {
  --color-1: #A16AE8;
  --color-2: #B4FEE7;
  --color-3: #FD49A0; }

.theme-2 {
  --color-1: #341948;
  --color-2: #9388A2;
  --color-3: #170B3B; }

.theme-3 {
  --color-1: #04B16F;
  --color-2: #A3EBB1;
  --color-3: #21B6A8; }

.theme-4 {
  --color-1: #FF671B;
  --color-2: #900300;
  --color-3: #CC5216; }

.theme-5 {
  --color-1: #0067B3;
  --color-2: #40B0DF;
  --color-3: #FFD53D; }

* {
  box-sizing: border-box;
  font-size: 10px;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Fredoka One', cursive;
  font-size: 5rem;
  color: #FFFFFF;
  display: flex;
  flex-direction: column; }

.top-container, .middle-container, .bottom-container {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  overflow: hidden; }

.top-container {
  background-color: var(--color-1);
  color: var(--color-2);
  display: flex;
  flex-direction: column; }

.middle-container {
  background-color: var(--color-2);
  color: var(--color-3);
  height: 150rem; }

.bottom-container {
  background-color: var(--color-3);
  color: var(--color-2); }
  .bottom-container a {
    color: inherit;
    text-decoration: none; }

.copy2021 {
  font-size: 2rem;
  color: var(--color-2); }

.normal-size {
  font-size: 6rem; }

.big-size {
  font-size: 9rem; }

.big-divider {
  content: "";
  height: 20rem; }

.small-divider {
  content: "";
  height: 10rem; }

.main-title {
  display: flex;
  flex-direction: column;
  font-family: 'Fredoka One', cursive; }
  .main-title h1 {
    font-size: 20rem; }
  .main-title h2 {
    font-size: 13rem; }

.section-title span {
  font-size: 4rem;
  padding: 1rem; }

.line-height {
  line-height: 10rem; }

.align-center {
  text-align: center; }

.foo-card {
  padding: 1rem 0; }

@media only screen and (min-width: 950px) {
  * {
    font-size: 10px; } }

@media only screen and (min-width: 750px) {
  * {
    font-size: 6px; } }

@media only screen and (max-width: 300px) {
  * {
    font-size: 4px; } }

.photo {
  align-self: center; }
  .photo__shape {
    width: 45rem;
    height: 45rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: var(--color-2) 1.5rem solid; }
  .photo__img {
    height: 100%;
    transform: translateX(4.6rem) translateY(0.7rem) scale(1.5);
    backface-visibility: hidden;
    transition: all .4s; }
  .photo__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: var(--color-2);
    font-size: 6rem;
    text-align: center;
    opacity: 0;
    transition: all .4s;
    backface-visibility: hidden; }
  .photo:hover .photo__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .photo:hover .photo__img {
    transform: translateX(4.6rem) scale(1.45);
    filter: blur(2px) brightness(90%); }

.btn-toggle {
  background-color: var(--color-2);
  color: var(--color-1);
  align-self: center;
  width: 40rem;
  border-radius: 4.5rem;
  padding: 3.5rem 5.5rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all .2s; }
  .btn-toggle:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }
  .btn-toggle:active, .btn-toggle:focus {
    outline: none;
    transform: translateY(0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0); }
