.theme-1 {
  --color-2: #fa5b4c;
  --color-1: #264c7d;
  --color-3: #fcad44;
  --color-4: #d5e3f4;
  --color-5: #d5e3f4; }

.theme-2 {
  --color-1: #341948;
  --color-2: #9388A2;
  --color-3: #170B3B;
  --color-4: #d5e3f4;
  --color-5: var(--color-2); }

.theme-3 {
  --color-1: #A16AE8;
  --color-2: #B4FEE7;
  --color-3: #FD49A0;
  --color-4: #f6ff46;
  --color-5: var(--color-2); }

.theme-4 {
  --color-1: #04B16F;
  --color-2: #A3EBB1;
  --color-3: #21B6A8;
  --color-4: #ff4b4b;
  --color-5: var(--color-2); }

.theme-5 {
  --color-1: #0067B3;
  --color-2: #40B0DF;
  --color-3: #FFD53D;
  --color-4: #ff771c;
  --color-5: var(--color-2); }

.theme-6 {
  --color-1: #087a95;
  --color-2: #35afa4;
  --color-3: #d5e3f4;
  --color-4: #ff76e8;
  --color-5: var(--color-2); }

* {
  box-sizing: border-box;
  font-size: .5vw;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility; }

body {
  font-family: 'Fredoka One', cursive;
  font-size: 2.5rem;
  color: #F9FEFB;
  display: flex;
  flex-direction: column; }
  body.disable-text-selection {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    user-select: none; }
  body::-webkit-scrollbar {
    display: none; }

.top-container, .middle-container, .bottom-container {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden; }

.top-container {
  background-color: var(--color-1);
  color: var(--color-5);
  display: flex;
  flex-direction: column; }

.middle-container {
  background-color: var(--color-2);
  color: var(--color-3);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 5rem;
  grid-column-gap: 5rem; }

.bottom-container {
  background-color: var(--color-3);
  color: var(--color-2); }
  .bottom-container a {
    color: inherit;
    text-decoration: none; }

.main-title {
  display: flex;
  flex-direction: column;
  font-family: 'Fredoka One', cursive; }
  .main-title h1 {
    font-size: 15vw; }
  .main-title h2 {
    font-size: 10vw; }

.section-card__title {
  padding: 0;
  align-self: center; }

#btc {
  width: 4.4rem;
  height: 4.4rem; }

.normal-size {
  font-size: 2.5rem; }

.big-size {
  font-size: 3.5rem; }

.big-divider {
  content: "";
  height: 10rem; }

.small-divider {
  content: "";
  height: 5rem; }

.line-height {
  line-height: 5rem; }

.align-center {
  text-align: center; }

.uppercase {
  text-transform: uppercase;
  display: block; }

.foo-card {
  padding: .5rem 0; }
  .foo-card .cool-link {
    display: inline-block;
    text-decoration: none; }
  .foo-card .cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: .4rem;
    background: var(--color-2);
    transition: width .3s; }
  .foo-card .cool-link:hover::after {
    width: 100%; }
  .foo-card .copy2021 {
    font-size: 1.4vh;
    color: var(--color-2); }

.contact-me {
  font-size: 8vh; }

.photo {
  align-self: center; }
  .photo__shape {
    width: 27rem;
    height: 27rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: var(--color-3) 0.75rem solid; }
  .photo__img {
    height: 100%;
    transform: translateX(3rem) translateY(0.4rem) scale(1.5);
    backface-visibility: hidden;
    transition: all .4s; }
  .photo__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #F9FEFB;
    font-size: 3rem;
    text-align: center;
    opacity: 0;
    transition: all .4s;
    backface-visibility: hidden; }
  .photo:hover .photo__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .photo:hover .photo__img {
    transform: translateX(3rem) scale(1.45);
    filter: blur(2px) brightness(80%); }

.btn-container {
  display: flex;
  flex-direction: column; }

.btn-toggle {
  background-color: var(--color-3);
  color: var(--color-2);
  align-self: center;
  justify-self: center;
  width: 20rem;
  border-radius: 2.3rem;
  padding: 1.7rem 2.7rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all .2s; }
  .btn-toggle:hover {
    transform: translateY(-0.6rem);
    box-shadow: 0 1.4rem 2rem rgba(0, 0, 0, 0.3); }
  .btn-toggle:active, .btn-toggle:focus {
    outline: none;
    transform: translateY(0.3rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0); }

.btn-toggle_2 {
  align-self: center;
  justify-self: center;
  cursor: pointer; }

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit; }
  button.button-text {
    width: 38rem;
    height: auto; }
    button.button-text .circle {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: relative;
      display: block;
      margin: 0;
      width: 8rem;
      height: 8rem;
      background: var(--color-3);
      border-radius: 10rem; }
      button.button-text .circle .icon {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 7rem;
        margin: auto; }
        button.button-text .circle .icon.arrow {
          transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
          left: 2rem;
          width: 2.8rem;
          height: .3rem;
          background: none; }
          button.button-text .circle .icon.arrow::before {
            position: absolute;
            content: '';
            top: -0.52rem;
            right: 0.1rem;
            width: 1rem;
            height: 1rem;
            border-top: 0.4rem solid var(--color-2);
            border-right: 0.4rem solid var(--color-2);
            transform: rotate(45deg); }
    button.button-text .button-text {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: absolute;
      top: .8rem;
      left: 0rem;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: var(--color-5);
      line-height: 1.6;
      text-align: center;
      font-size: 3rem; }
  button:hover .circle {
    width: 100%; }
    button:hover .circle .icon.arrow {
      background: var(--color-2);
      transform: translate(3rem, 0); }
  button:hover .button-text {
    color: var(--color-2); }

.item__1 {
  grid-column: 1 / 3; }

.item__2 {
  grid-column: 1 / 2; }

.item__3 {
  grid-column: 2 / 3; }

.item__4 {
  grid-column: 2 / 3; }

.item__5 {
  grid-column: 1 / 2;
  grid-row: 3 / 4; }

.item__6 {
  grid-column: 1 / 2; }

.item__7 {
  grid-column: 2 / 3; }

.item__8 {
  grid-column: 1 / 3;
  padding-top: 20rem; }

#scrollbar-wrapper {
  position: fixed;
  top: 0;
  z-index: 50;
  right: 0;
  width: .7rem;
  left: auto;
  bottom: 0;
  background-color: transparent;
  opacity: 1; }

.scrollbar {
  position: absolute;
  top: 0;
  background-color: var(--color-4);
  right: 0;
  width: .8rem;
  height: 100vh;
  transform: translateY(100vh); }

::-webkit-scrollbar {
  width: 0px;
  background: transparent; }

@media only screen and (min-width: 1250px) {
  * {
    font-size: .4vw; }
    * .normal-size {
      font-size: 1.5vw; }
    * .big-size {
      font-size: 3.5vw; }
  .main-title h1 {
    font-size: 11vw; }
  .main-title h2 {
    font-size: 5vw; } }

@media only screen and (min-width: 1000px) and (max-width: 1250px) {
  * {
    font-size: .7vw; }
    * .normal-size {
      font-size: 2vw; }
    * .section-card {
      text-align: center; }
      * .section-card__title {
        font-size: 4.5vw;
        padding: 3vh 0; }
  .main-title h1 {
    font-size: 11vw; }
  .main-title h2 {
    font-size: 5vw; } }

@media only screen and (min-width: 750px) and (max-width: 999px) {
  * {
    font-size: .9vw; }
    * .normal-size {
      font-size: 3vw; }
    * .middle-container {
      display: flex; }
    * .section-card {
      text-align: center; }
      * .section-card__title {
        font-size: 5vh;
        padding: 3vh 0; }
  button .circle {
    width: 100% !important;
    border-radius: 10rem !important; }
  button .icon.arrow {
    opacity: 0;
    transform: translateX(-20rem); }
  button .icon::before {
    opacity: 0; }
  button .button-text {
    transform: translateX(-1rem);
    color: var(--color-2) !important; } }

@media only screen and (min-width: 450px) and (max-width: 750px) {
  * {
    font-size: 1.3vw; }
    * .normal-size {
      font-size: 3vw; }
    * .middle-container {
      display: flex; }
    * .section-card {
      text-align: center; }
      * .section-card__title {
        font-size: 10vw;
        padding: 3vh 0; }
  button .circle {
    width: 100% !important;
    border-radius: 10rem !important; }
  button .icon.arrow {
    opacity: 0;
    transform: translateX(-20rem); }
  button .icon::before {
    opacity: 0; }
  button .button-text {
    transform: translateX(-1rem);
    color: var(--color-2) !important; } }

@media only screen and (max-width: 450px) {
  * {
    font-size: 2vw; }
  .normal-size {
    font-size: 4vw; }
  .line-height {
    line-height: 3rem; }
  .scrollbar {
    opacity: 0; }
  .main-title h1 {
    font-size: 20vw; }
  .main-title h2 {
    font-size: 10vw; }
  .middle-container {
    display: flex; }
  .section-card {
    text-align: center; }
    .section-card__title {
      font-size: 12vw;
      padding: 3vh 0; }
  button .circle {
    width: 100% !important;
    border-radius: 10rem !important; }
  button .icon.arrow {
    opacity: 0;
    transform: translateX(-20rem); }
  button .icon::before {
    opacity: 0; }
  button .button-text {
    transform: translateX(-1rem);
    color: var(--color-2) !important; } }
