
@import "css/colors";


*{
    box-sizing: border-box;
    font-size: .6vw;
    margin: 0;
    padding: 0;
}

body{    
    font-family: 'Fredoka One', cursive;
    font-size: 2.5rem;
    color: $color-white;
    display: flex;
    flex-direction: column;

    &.disable-text-selection{
        -ms-user-select:none;
        -moz-user-select:none;
        -webkit-user-select:none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
         user-select:none;
     }
}

.top-container, .middle-container, .bottom-container{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.top-container{
    background-color: var(--color-1);
    color: var(--color-2);
    
    display: flex;
    flex-direction: column;
    
}

.middle-container{
    background-color: var(--color-2);
    color: var(--color-3);
    
    display: grid;

    .section-description{
        
    }
   
}

.bottom-container{
    background-color: var(--color-3);
    color: var(--color-2);
    
    a{
        color: inherit;
        text-decoration: none;
    }
}
.copy2021{
    font-size: 1rem;
    color: var(--color-2);
}

//   UTILITY CLASSES
.normal-size{
    font-size: 2.5rem;
}
.big-size{
    font-size: 4rem;
}

.big-divider{
    content: "";
    height: 10rem;
}
.small-divider{
    content: "";
    height: 5rem;
}


//   OTHER CLASSES----------------------
.main-title{
    display: flex;
    flex-direction: column;    
    font-family: 'Fredoka One', cursive;
    h1{
        font-size: 12rem;
    }
    h2 {
        font-size: 6rem;
    }
}

.section-title{
    span{
        font-size: 2rem;
        padding: .5rem;
    }
    
}

.line-height{
    line-height: 5rem;
}

.align-center{
    text-align: center;
}

.foo-container{
}

.foo-card{
    padding: .5rem 0;
}


/*
//media queries for font size
//BIG SCREEN

@media only screen and (min-width: 950px) {
    * {
        font-size: 10px;
    }
}
//MOBILE SCREEN
@media only screen and (min-width: 750px) {
    * {
        font-size: 6px;
    }
}
*/
//VERY SMALL SCREEN
@media only screen and (max-width: 400px) {
    * {
        font-size: 1.1vw;
    }
}

@import "css/photo";
@import "css/button";